a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color:grey;
    transition: 0.2s;
}

li {
    margin-right: 2rem;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation-list {
    display: flex;
    list-style: none;
}
